################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CollegeManager
/CollegeManager/bin
/packages
